<nav th:fragment="bottom-nav" style="
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  color: white;
  z-index: 1000;
  height: 55px; /* 고정 높이로 지정 (옵션) */
">
  <a href="/" style="
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    line-height: 55px;
    display: block;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  ">홈</a>
  <a href="/attendance/records" style="
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
    line-height: 55px;
    display: block;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  ">출결내역</a>
</nav>
