body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fafafa;
  color: #333;
  margin: 30px auto  80px;
  max-width: 900px;
  padding: 0 20px;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 30px;
}

p {
  text-align: center;
  font-size: 1rem;
  margin-top: 5px;
  color: #555;
}

.active-nav span:first-child {
  filter: drop-shadow(0 0 3px black);
}

/* 버튼 공통 */
.btn {
  padding: 10px 22px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.25s ease;
}

.btn-submit {
  background-color: #3f51b5;
  color: white;
  box-shadow: 0 4px 6px rgba(63, 81, 181, 0.4);
}

.btn-submit:disabled {
  background-color: #a3a3a3;
  cursor: not-allowed;
}

.btn-edit {
  background-color: #a3a3a3;
  color: white;
}

.btn-edit:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.scroll-down-btn {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 1000;
  background-color: rgba(50, 50, 50, 0.8); /* 회색끼 도는 투명 배경 */
  color: white;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

/* 메시지 */
.message {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  padding: 33px 40px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 1s ease, top 0.4s ease;
  animation: fadeInUp 0.5s ease;
  max-width: 80vw;
  min-width: 270px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes fadeInUp {
  from { opacity: 0; top: 50px; }
  to { opacity: 1; top: 30px; }
}

.message-success {
  background-color: #d0f0ec;
  color: #137c74;
  border: 1px solid #a2e1db;
}

.message-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* 테이블 */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgb(0 0 0 / 0.05);
  overflow: hidden;
}

th, td {
  padding: 12px 15px;
  text-align: center;
  font-size: 1.125rem;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #f4f6f8;
  font-weight: 700;
  color: #4a4a4a;
}

tr:last-child td {
  border-bottom: none;
}

.status-submitted {
  color: #2e7d32;
  font-weight: 700;
  font-size: 1.2rem;
}

.status-pending {
  color: #c62828;
  font-weight: 700;
  font-size: 1.2em;
}

/*.records-btn-container {*/
/*  text-align: center;*/
/*  margin-top: 40px;*/
/*}*/